body {
    /* font-family: "Lato", serif; */
    font-family: "Jost", sans-serif;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    @media (min-width: 0) and (max-width: 576px) {
        font-size: 14px;
    }

    .container {
        @media (min-width: 0) and (max-width: 576px) {
            padding: 0 8px;
        }
    }
}

img {
    display: block;
}